<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<false/>
	<key>FirebaseDataCollectionDefaultEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sori uses the microphone to measure sound levels on your device. Audio is never saved or sent.</string>
	<key>UIFileSharingEnabled</key>
	<false/>
</dict>
</plist>
